
  body {
    font-family: 'Inter', sans-serif;

    background: linear-gradient(90deg, #050810, #4767FF);
    background-size: 400% 400%;
    color: #FFFFFF; /* Use a light color for text to contrast the dark background */

  }
 
  
  
  h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-weight: bold;
  }
  
  a {
    color: #7E53FF; /* Link color */
    text-decoration: none;
  }
  
  a:hover {
    color: #C775FF; /* Hover effect */
  }
  
  button {
    background-color: #4767FF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #7E53FF;
  }
  
  /* Other styles for sections, divs, etc. can be added similarly */
  


  /* div */
  div {
    border-radius: 10px; 
    padding: 20px; 
    /* margin: 20px 0;  */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);  */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавная анимация при наведении */
  }
  
  
  /* Для улучшения читаемости текста внутри div */
  div p {
    color: #CFCFCF; /* Светло-серый цвет текста */
    line-height: 1.6; /* Межстрочный интервал */
  }
  
  div h2, div h3 {
    color: #7E53FF; /* Цвет заголовков внутри div */
  }
  
  div a {
    color: #C775FF; /* Цвет ссылок внутри div */
    text-decoration: underline;
  }
  
  div a:hover {
    color: #FFFFFF; /* Изменение цвета ссылки при наведении */
  }
  