/* NavBar.css */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px); /* Эффект размытия фона под навбаром */
  border-bottom: 2px solid #4767FF; /* Нижняя граница навбара */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Стили для контейнера */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Логотип */
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #C775FF;
  text-decoration: none;
}

/* Стили для списка навигации */
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 20px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover {
  color: #7E53FF;
}
