/* About.css */

.about-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181c31;
  color: #f0f0f0;
  transform: scale(1); /* Начальный масштаб */
  /* transition: transform 0.3s ease-in-out; Плавный переход */
}

.about-heading {
  font-size: 2rem;
  align-items: center;
  margin-bottom: 20px;
  color: #1db954;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.about-heading:hover {
  transform: scale(1.1);
}
.education-heading {
  font-size: 2rem;
  align-items: center;
  margin-bottom: 20px;
  color: #1db954;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.education-heading:hover {
  transform: scale(1.1);
}

.about-section {
  margin-bottom: 20px;
  /* align-items: center; */
}
h2{
  color: #1db954;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
h2:hover {
  transform: scale(1.1);
}

span{
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
span:hover {
  transform: scale(1.1);
}
ul{
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
ul:hover {
  transform: scale(1.1);
}
h3{
  color: #1db954;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
h3:hover {
  transform: scale(1.1);
}


.about-section h2 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #1db954;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.about-section h2:hover {
  transform: scale(1.1);
}

.about-section p {
  font-size: 1rem;
  max-width: 1000px;
  align-items: center;
  padding: 10px;
  line-height: 1.6;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.about-section p:hover {
  transform: scale(1.1);
}

.about-education {
  align-items: center;
  margin-bottom: 20px;
}

/* CSS для Professional Knowledge */
.about-professional-knowledge {
  margin-bottom: 20px;
  /* display: flex; */
}

.about-professional-knowledge h2 {
  display: flex;

  text-align: center;
}

.about-professional-knowledge .category {
  margin-bottom: 20px;
}

.about-professional-knowledge .category h3 {
  font-size: 1.2rem;
  color: #1db954;
  text-align: center;
}

.about-professional-knowledge .category ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-professional-knowledge .category li {
  display: flex;
  /* align-items: center; */
  margin: 5px 10px;
}

.about-professional-knowledge .icon {
  margin-right: 10px;
  height: 40px;
  color: #00bfff; /* Цвет иконок */
}

.div.contact-item{
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.div.contact-item:hover {
  transform: scale(1.1);
}
