/* ProjectComponent.css */

.project-card {
    background-color: #181c31; /* Темный фон карточки */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 20px;
    transition: transform 0.2s;
  }
  
  .project-card:hover {
    transform: scale(1.05); /* Легкое увеличение при наведении */
  }
  
  .project-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .project-content {
    padding: 20px;
    color: #e0e0e0; /* Светлый текст */
  }
  
  .project-name {
    font-size: 1.5em;
    color: #1DB954; /* Акцентный цвет */
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .project-links {
    display: flex;
    justify-content: space-between;
  }
  
  .project-link {
    font-size: 1em;
    color: #1DB954; /* Акцентный цвет */
    text-decoration: none;
  }
  
  .project-link:hover {
    text-decoration: underline;
  }
  