/* MainPage.css */

.main-page {
    text-align: center;
  }
  
  .social-link-container {
    display: flex;
    justify-content: space-between;
    border: none;
  }
  
  .social-link {
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  